.modal {
  display: table;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  transform: scale(0);
  color: #2a2a2a;
}

.modal.active {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal.active .modal-background .modal-content {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal .modal-background .modal-content {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 100%;
  max-height: 80%;
  background-color: #fff;
  z-index: 9999;
  overflow: auto;
  padding: 40px 30px 30px;
}

/* The Close Button */
.close {
  position: fixed;
  right: 20px;
  top: 5px;
  color: #aaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
  position: fixed;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.detail {
  font-family: "Lato";
  &__name {
    color: $color-bla;
    font-size: 2.625em;
    line-height: 1.45em;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 0.5em;
    width: 100%;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.35);
  }

  .awssld__controls__arrow-left:before,
  .awssld__controls__arrow-left:after,
  .awssld__controls__arrow-right:before,
  .awssld__controls__arrow-right:after {
    background-color: #fff;
  }
  .awssld__bullets button {
    background-color: #fff;
  }
  @include mediaQuery("md") {
    margin-top: 60px;
  }
}
.awssld__content .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.share {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 20px;
  .btn-visit {
    --button-primary-color: #e31d6d;
    --button-primary-color-dark: #a0134d;
    --button-primary-color-light: #ffffff;
    --button-primary-color-hover: #b71559;
    --button-primary-border: none;
  }
  .btn-back {
    --button-primary-color: #4f5d7d;
    --button-primary-color-dark: #475472;
    --button-primary-color-light: #ffffff;
    --button-primary-color-hover: #45516e;
    --button-primary-border: none;
    border-radius: 6px;
  }
}

.slide {
  position: relative;
  margin-bottom: 100px;
  &__caption {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: auto;
    z-index: 2;
    p {
      display: inline-block;
      padding: 8px 10px 10px;
      background: rgba(100, 100, 100, 0.5);
      transform: translateX(400%);
      opacity: 0;
      transition: transform 0.425s cubic-bezier(0.05, 0.65, 0.1, 0.95),
        opacity 0.3s ease-out,
        -webkit-transform 0.425s cubic-bezier(0.05, 0.65, 0.1, 0.95);
    }
  }
}
.awssld--active {
  .slide {
    &__caption {
      p {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

.section_info {
  margin-bottom: 3em;
  text-align: left;
  h2 {
    font-size: 2em;
    line-height: 1.35em;
    font-weight: 600;
    position: relative;
    display: block;
    letter-spacing: -0.045em;
    padding: 0;
    margin-bottom: 0.4em;
  }
  hr {
    display: block;
    height: 1px;
    width: 50%;
    background-color: #cccccc;
    position: relative;
    border: 0;
    margin: 0.5em 0 1em;
  }
  .keywords {
    list-style: circle;
    padding: 0 1.4em;
    margin-bottom: 0.6em;
    li {
      line-height: 1.65em;
    }
  }
}
.slick-dots {
  bottom: -50px;
}
.slick-dots li button:before {
  color: $color-gray;
  opacity: 1;
  font-size: 10px;
}
.slick-dots li.slick-active button:before {
  color: $color-gray;
  font-size: 18px;
  opacity: 1;
}
.slick-prev,
.slick-next {
  width: 100px;
  height: 50px;
  padding: 0 30px;
  z-index: 10;
}
.slick-prev:before,
.slick-next:before {
  content: "";
}
.slick-prev span:before,
.slick-prev span:after,
.slick-next span:before,
.slick-next span:after {
  content: "";
  position: absolute;
  background-color: $color-gray;
  transition: transform 0.15s ease-out, background-color 0.15s ease-out;
  width: 4px;
  height: 100%;
  z-index: 10;
  opacity: 0.8;
}
.slick-prev span:before {
  transform-origin: 0 100% 0;
  top: -50%;
  transform: rotate(45deg);
}

.slick-prev span:after {
  transform-origin: 0 0 0;
  top: 50%;
  transform: rotate(-45deg);
}
.slick-next span:before {
  transform-origin: 100% 100% 0;
  top: -50%;
  transform: rotate(-45deg);
}
.slick-next span:after {
  transform-origin: 100% 0% 0;
  top: 50%;
  transform: rotate(45deg);
}

.slick-prev {
  &:hover {
    span {
      &::before {
        opacity: 1;
        transform: rotate(30deg);
      }
      &::after {
        opacity: 1;
        transform: rotate(-30deg);
      }
    }
  }
}
.slick-next {
  &:hover {
    span {
      &::before {
        opacity: 1;
        transform: rotate(-30deg);
      }
      &::after {
        opacity: 1;
        transform: rotate(30deg);
      }
    }
  }
}
.slide-item {
  padding-bottom: 48%;
  margin: 5px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
