#skills {
  height: 100vh;
  box-sizing: border-box;
  text-align: left;
  p {
    font-size: 18px;
    line-height: 2;
  }
}
#skills .container {
  width: 100%;
}

#myCanvas {
  height: 100%;
  width: 100%;
}

#myCanvas li a {
  font-size: 30px;
}
.skills {
  &__info {
    padding-right: 5em;
  }
}
