#skills {
  height: 100vh;
  box-sizing: border-box;
  text-align: left;
  @include mediaQuery("md") {
    height: auto;
  }
}
#skills .container {
  width: 100%;
}

#myCanvas {
  height: 100%;
  width: 100%;
}

#myCanvas li a {
  font-size: 3rem;
}
.skills {
  &__info {
    padding-right: 5em;
    @include mediaQuery("md") {
      padding-right: 0;
      margin-bottom: 30px;
    }
  }
  @include mediaQuery("md") {
    .flex.row {
      flex-direction: column;
    }
  }
}
