#home {
  height: calc(100vh + 53px);
  padding: 0;
}

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(117, 114, 113, 0.8) 10%,
      rgba(40, 49, 77, 0.8) 30%,
      rgba(29, 35, 71, 0.8) 50%,
      rgba(19, 25, 28, 0.8) 80%,
      rgba(15, 14, 14, 0.8) 100%
    ),
    url("/img/tumblr_m00c3czJkM1qbukryo1_500.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#tsparticles {
  width: 100%;
  height: 100%;
}

.mainText {
  font-family: "Raleway", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.mainText .text {
  font-size: 32pt;
  line-height: 36pt;
  pointer-events: none;
  margin-bottom: 15px;
}
.highlight {
  color: #e31b6d;
}
.mainText .highlight {
  font-weight: 600;
}

.button {
  border: 2px solid #fff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 16pt;
  padding: 10px 20px;
  transition: all 0.5s;
}

.text-center {
  text-align: center;
}
.mainText .button {
  position: relative;
  padding: 12px 50px 12px 20px;
}
.mainText .button .mdi {
  position: absolute;
  right: 15px;
  top: 12px;
  transition: transform 0.3s;
}
.mainText .button:hover {
  background-color: #e31b6d;
  border-color: #e31b6d;
  color: #ffffff;
}
.mainText .button:hover .mdi {
  transform: rotate(90deg);
}

/* Navbar */
.navbar {
  background: #1b242f;
  width: 60px;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
  min-height: 500px;
  border-right: 2px solid #e31b6d;
}
.navbar .logo {
  display: block;
  padding: 8px 0;
}
.page-link {
  font-size: 20px;
  color: #909096;
  margin-bottom: 15px;
  display: block;
  line-height: 51px;
  height: 51px;
  position: relative;
  text-decoration: none;
}

.navbar .page-link:after {
  content: "";
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #e31b6d;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar .page-link.home-link:after {
  content: "HOME";
}
.navbar .page-link.about-link:after {
  content: "ABOUT";
}
.navbar .page-link.skills-link:after {
  content: "SKILLS";
}
.navbar .page-link.portfolio-link:after {
  content: "PROJECT";
}
.navbar .page-link.contact-link:after {
  content: "CONTACT";
}

.navbar .page-link:hover:after {
  opacity: 1;
}
.navbar .page-link:hover i {
  opacity: 0;
}
.page-link:hover,
.list-sns li a:hover,
.page-link.active {
  color: #e31b6d;
  transition: all 0.5s;
}

.navbar .page-link i {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.list-sns li a {
  display: block;
  font-size: 20px;
  color: #909096;
  margin: 20px 0;
}

#mobile-link {
  display: none;
}
